<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097210093155-i4ouqlsrat9tbbd5o85rg73u79d1kg4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097210093155-i4ouqlsrat9tbbd5o85rg73u79d1kg4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDeXLg9aXe3Ya26FtTHh7XMdBY7D_tpbZc</string>
	<key>GCM_SENDER_ID</key>
	<string>1097210093155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tome</string>
	<key>PROJECT_ID</key>
	<string>tome-508fd</string>
	<key>STORAGE_BUCKET</key>
	<string>tome-508fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097210093155:ios:5d19784c69fab8065ee256</string>
</dict>
</plist>